<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div ng-app="myApp" ng-controller="myCtrl">
<select ng-model="selectedSite">
    <option ng-repeat="x in sites" value="{{x.url}}">
        {{x.site}}

    </option>
</select >
    <h1>{{selectedSite}}</h1>
</div>
<script src="angular/angular.js"></script>
<script>
var app = angular.module('myApp',[]);
    app.controller('myCtrl',function($scope){
        $scope.sites = [
            {site : "Google", url : "http://www.google.com"},
            {site : "Runoob", url : "http://www.runoob.com"},
            {site : "Taobao", url : "http://www.taobao.com"}
        ];
    })
</script>
</body>
</html>